<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты ведущих разработчиков</title>

    <style>
        .pull-center{
            text-align: center;
        }
        .image{
            text-align: center;
            border: 10px solid #56382d;
            max-width: 320px;
            max-height: 180px;
        }

        .about{
            font-size: 20px;
        }

        .name{
            font-size: 24px;
        }
    </style>

</head>
<body>
<div class="pull-center">
    <h1>Информация о сотрудниках</h1>
    <p class="name">Аноним Анонимович: 8(926)-678-94-53</p>
    <img class="image" src="anonimus.jpg" alt="Сотрудник">
    <p class="about">Звонить <strong>только</strong> в рабочее время с 15 до 16. Все остальное время разработчик занят.</p>
    <p></p>
</div>
<p class="about">Друг Флинта, охотится за картой острова сокровищ. Не общительный. Характер скрытный. Не женат. В штате 5 сотрудников, аноним анонимович является представителем компании и по совместительству наставником для своих товарищей. За остальной информацией необохдимо обращаться к менеджеру. Связаться можно по указанному номеру телефона в рабочее время.</p>
</body>
</html>