<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты ведущих разработчиков</title>

    <link rel="stylesheet" href="anonim.css" type="text/css">

</head>
<body>
<div class="info-of">
    <h1>Информация о сотрудниках</h1>
    <p class="name">Аноним Анонимович: 8(926)-678-94-53</p>
    <img class="image" src="anonimus.jpg" alt="Сотрудник">
    <p class="work-time">Звонить <strong>только</strong> в рабочее время с 15 до 16. Все остальное время разработчик занят.
    </p>
</div>
<p class="about">Друг Флинта, охотится за картой острова сокровищ. Не общительный. Характер скрытный. Не женат. В штате
    5 сотрудников, аноним анонимович является представителем компании и по совместительству наставником для своих
    товарищей. За остальной информацией необохдимо обращаться к менеджеру. Связаться можно по указанному номеру телефона
    в рабочее время.</p>

<div class="info-of">
    <p class="name">Магический шар с предсказаниями</p>
    <img class="image" src="sphere.gif" alt="Магический шар">
    <p class="work-time">Звонить можно в любое время. С радостью подскажет вам по любому поводу.</p>
</div>
<p class="about">Этот товарищ уже не раз и не два выручал коллег своими наставлениями.
    Старейший из всех разработчиков, к нему за советом обращается даже Аноним Анонимович. Уже отошел от дел, но с радостью подскажет вам в случае необходимости.</p>

<p th:if="${flag == false}" th:text="${angryMessage}" class="end"></p>
<p th:if="${flag == true}" th:text="${message}" class="end"></p>
<p th:if="${flag == true}" th:text="${information}" class="about"></p>
<p th:text="${time}" class="end"></p>
</body>
</html>